<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>豆豆网</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

<div id="aTop">
    <span id="logo">豆豆网</span>
    <span id="aBox"><input id="aSearch" type="text" name="content"></span>
    <button id="aButton">搜索</button>
    <div id="aText">
        <span id="login">登录</span>
        <span>|</span>
        <span id="register">注册</span>
    </div>
</div>
<div id="mainBody"></div>
<div id="bg">
    <div id="dig">
        <div class="top">登录
            <button id="close">×</button>
        </div>
        <div class="con">
            <img src="images/ke.jpg" alt="">
            <div style="margin-top:30px">
                <button id="ok">确定</button>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/views.js">
</script>
</body>
</html>
